:root {
    --background: #0E0E10;
    --grid: #2A2A2F;
    --grid-highlight: #65676B;
    --gridlines: #161617;
    --secondary: #1E1E22;
    --highlight: #FFC105;
    --text: #F0F1EE;
    --title: #A0A1A0;
}